.main_containar{
    border: 1px solid rgb(0, 0, 0);
    height: 100vh;
    padding: 50px 0px;
}
.containar{
    border: 1px solid rgb(245, 10, 10);
    align-items: center;
    align-content: center;
    height: 100%;
    padding: 0px 0px;
    /* display: flex; */
}